<<<<<<< HEAD
.opa {
  color: red
}

.nolose{
  color: blue;
}

.saludo {
  color: rgb(255, 102, 0);
=======
h1 {
  color: tomato;
}

.nolose {
  color: red;
}

.saludo {
  color: rgb(47, 75, 255);
>>>>>>> f13e8a6d3591ab9caeba7b93449787b8f9ff4945
}
