<!-- bloque directivas de atributo -->

<p [ngStyle]="{ color: 'tomato', fontWeight: 'bolder' }">Lista de elementos:</p>
<p [ngClass]="['underlined', 'small']">Aun no tienes elementos en la lista</p>
<p [ngClass]="['underlined']">Aun no tienes elementos en la lista</p>
<p [ngClass]="{underlined: false, small: true}">Aun no tienes elementos en la lista</p>

<!-- directivas estructurales -->

<button (click)="cambiarCargando()">{{ cargando ? 'Terminar Carga' : 'Iniciar Carga' }}</button>


<!-- <ng-container *ngIf="cargando"; else elseTemplate> -->
<ng-container *ngIf="!cargando; else elseTemplate">
  <p>Todo Listo!</p>
</ng-container>

<ng-template #elseTemplate>
  <p>Cargando...</p>
  <p>Espere a que termine el proceso</p>
</ng-template>

<hr>

<!-- USO NgFor -->
<!-- iteramos sobre producto para obtener la lista -->
<div *ngFor="let producto of listaElementos; let i = index; let even = even">
  <!-- ambito donde tenemos acceso a producto -->
  <div [ngStyle]="even?{ backgroundColor: 'tomato', padding: '10px'}:{ backgroundColor: 'red', padding: '10px'}">
    <p>ID: {{ i + 1 }}</p>
    <p>{{ producto.nombre }} - {{ producto.precio }} $</p>
    <p>{{ producto.description }}</p>
  </div>
</div>
